name: Python 3.10.5 OS Matrix
on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Build and Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]    

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.5
      - name: Run Behave Tests
        uses: ./
        with:
          requirements-name: example_project/requirements.txt
          test-path: example_project
          test-output-name: ${{ matrix.os }}.txt